@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap');

:root {
    --first:'Roboto Mono', monospace;
    --second:'Rubik', sans-serif;
    --third:
    
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    background:#f6f6f6;
    margin-bottom: 30px;
}

.restangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--second);
    
}

.logo {
   font-size: 24px;   
   text-transform: uppercase;
   font-family: var(--second);
   font-weight: bold;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 8px 6px;
   color:#7296ee;
   background: #fff;
}

.restangle-kurs-item {
    margin: 0;
    margin-left: 25px;
    padding-top: 43px;
    padding-bottom: 43px;
    font-size: 16px;
    color: #7f7f7f;
}

.restangle-kurs-item span {
    color: #7296ee;
    font-weight: 600;
}

.restangle-kurs {
    display: flex;
}

.settings {
    display: flex;
}

.settings-item {
    margin-right: 25px;
}

.search {
    position: relative;
    color: #8d8d8d;
}

.search-icon {
    position: absolute;
    padding: 10px 6px;
    margin-right: 6px;
    font-weight: 600;
    
}

.search-input {
    padding: 9px 15px;
    width: 275px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    outline: none;
}

.language {
    background:#dce6ff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 70px;
}

.language-btn {
    border-radius: 50%;
    border: none;
    padding: 5px;
    background: #dce6ff;
    color: #8d8d8d;
    
    
}

.btn-uz {
    background: #fff;
    color: #000;
    margin-left: 3px;
}

.settings-btn {
    background:#7296ec;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
}

/* navbar  */

.navbar {
    background: #fff;
    height: 71px;
    font-family: var(--second);
   
    
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 40px;
}

.nav-list .nav-list-item .nav-list-link {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color:#7f7f7f;
    font-weight: 500;

}

.nav-img {
    display: inline-block;
    height: 128px;
    margin-bottom: 50px;
}

/* Main */

.main-section {
    flex-grow: 1;
}
.main-section-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.main-section-card {
    width: 393px;
    background: #f6f6f6;
    border-radius: 15px;
    font-family: var(--second);
    margin-left: 10px;
    margin-bottom: 10px;
}

.main-section-heading {
    margin: 0;
    padding: 20px  18px 0 ;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.main-section-text {
    margin: 0;
    margin-top: 10px;
    padding: 0 30px 0 17px;
    font-size: 16px;
    line-height: 22px;
    color: #4a4b4c;
    font-weight: 400;
}

.main-section-img {
    padding: 0 17px;
    margin-top: 15px;
    
}

.main-section-date {
    margin-top: 15px;
    padding: 0 17px 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.main-section-date img {
    margin-right: 15px;
}


/* frame */
.frame {
    width: 1050px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: url('../images/Group1.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    font-family: var(--second);

}

.heading-content {
    margin: 0;
    padding: 24px 29px;
    font-weight: 500;
    font-size: 20px;
}

.frame-btn {
    padding: 13px 30px;
    margin: 25px 0;
    margin-right: 71px;
    background: #f78b3b;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}


/* Main-section-news */

.main-section-news {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    margin-left: -10px;
    font-family: var(--second);
}

.section-title {
    margin-top: 60px;
    text-align:left;
    font-size: 26px;
    /* line-height:28px; */
    font-weight: 500;
    font-family: var(--second);
}

.main-news-item {
    display: flex;
    align-items: center;
    width: 797px;
    margin: 0 10px 10px 10px;
    background: #f6f6f6;
    border-radius: 15px;
}

.main-news-img {
    padding:17px 20px ;
}

.main-news-list {
    background: #f6f6f6;
    padding: 0;
    border-radius: 15px;
    list-style: none;
}

.main-news-heading {
    margin: 0;
    padding: 20px  18px 0 ;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.main-news-info {
    margin: 0;
    padding-bottom: 25px;
    margin-top: 10px;
    /* margin-right: 15px; */
    padding: 0 20px 0 17px;
    font-size: 16px;
    line-height: 22px;
    color: #4a4b4c;
    font-weight: 400;
}

.last-info {
    padding-bottom: 20px;
}

.more-info {
    margin-top: 17px;
    margin-right: 0;
    width: 796px;
    padding: 17px 0;
    background: #eaeaea;
    border-radius: 10px;
    text-align: center;
}

.more-info a {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    font-family: var(--second);
    text-decoration: none;
}

hr {
   width: 90%;
   margin-top: 20px;
}

.list-title {
    margin: 0;
    padding-top: 20px;
    padding-left: 17px;
    font-size: 26px;
    font-weight: 500;
    font-family: var(--second);
}

.main-news-akciya{
    margin-top: 10px;
    width: 393px;
    
}
