@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap');

:root {
    --first:'Roboto Mono', monospace;
    --second:'Rubik', sans-serif;
    --third:
    
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    background:#f6f6f6;
    margin-bottom: 30px;
}

.restangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--second);
    
}

.logo {
   font-size: 24px;   
   text-transform: uppercase;
   font-family: var(--second);
   font-weight: bold;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 8px 6px;
   color:#7296ee;
   background: #fff;
}

.restangle-kurs-item {
    margin: 0;
    margin-left: 25px;
    padding-top: 43px;
    padding-bottom: 43px;
    font-size: 16px;
    color: #7f7f7f;
}

.restangle-kurs-item span {
    color: #7296ee;
    font-weight: 600;
}

.restangle-kurs {
    display: flex;
}

.settings {
    display: flex;
}

.settings-item {
    margin-right: 25px;
}

.search {
    position: relative;
    color: #8d8d8d;
}

.search-icon {
    position: absolute;
    padding: 10px 6px;
    margin-right: 6px;
    font-weight: 600;
    
}

.search-input {
    padding: 9px 15px;
    width: 275px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    outline: none;
}

.language {
    background:#dce6ff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 70px;
}

.language-btn {
    border-radius: 50%;
    border: none;
    padding: 5px;
    background: #dce6ff;
    color: #8d8d8d;
    
    
}

.btn-uz {
    background: #fff;
    color: #000;
    margin-left: 3px;
}

.settings-btn {
    background:#7296ec;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
}

/* navbar  */

.navbar {
    background: #fff;
    height: 71px;
    font-family: var(--second);
   
    
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 40px;
}

.nav-list .nav-list-item .nav-list-link {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color:#7f7f7f;
    font-weight: 500;

}

.nav-img {
    display: inline-block;
    height: 128px;
    margin-bottom: 50px;
}

/* Main */
.main-section-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}

.main-section-card {
    width: 393px;
    background: #f6f6f6;
    border-radius: 15px;
    font-family: var(--second);
    margin-left: 20px;
    margin-bottom: 20px;
}

.main-section-heading {
    margin: 0;
    padding: 20px  18px 0 ;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.main-section-text {
    margin: 0;
    margin-top: 10px;
    padding: 0 30px 0 17px;
    font-size: 16px;
    line-height: 22px;
    color: #4a4b4c;
    font-weight: 400;
}

.main-section-img {
    padding: 0 17px;
    margin-top: 15px;
    
}

.main-section-date {
    margin-top: 15px;
    padding: 0 17px 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.main-section-date img {
    margin-right: 15px;
}